@model List<MktSys.Models.DailyReport>

@{
    ViewData["Title"] = "CreateMulti";
}

<h1>CreateMulti</h1>

<h4>DailyReport</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="CreateMulti">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model[0].ReportDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[0].StartTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[0].EndTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[0].Comment)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < 5; i++)
                    {
                        <tr>
                            <td>
                                <div class="form-group">
                                    @* @modelだとビルドエラーになる・・。@ModelだとOK *@
                                    <input asp-for="@Model[i].ReportDate" class="form-control" /> 
                                    <span asp-validation-for="@Model[i].ReportDate" class="text-danger"></span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input asp-for="@Model[i].StartTime" class="form-control" />
                                    <span asp-validation-for="@Model[i].StartTime" class="text-danger"></span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input asp-for="@Model[i].EndTime" class="form-control" />
                                    <span asp-validation-for="@Model[i].EndTime" class="text-danger"></span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input asp-for="@Model[i].Comment" class="form-control" />
                                    <span asp-validation-for="@Model[i].Comment" class="text-danger"></span>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
